.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .cards {
    /* Autres propriétés ... */

    font-size: 15px;
    padding: 0px 20px 5px 20px;
    width: auto !important;
    height: 100%;
    background-color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

    @media (max-width: 480px) { /* adjust breakpoint as needed */
      width: calc(100% - 10px); /* 2 cards per row on small screens */
    }

    @media (min-width: 480px) { /* adjust breakpoint as needed */
      width: calc(50% - 10px); /* 2 cards per row on small screens */
    }

    @media (min-width: 768px) { /* adjust breakpoint as needed */
      width: calc(33.33% - 10px); /* 3 cards per row on medium screens */
    }

    @media (min-width: 1024px) { /* adjust breakpoint as needed */
      width: calc(25% - 10px); /* 4 cards per row on large screens */
    }

    @media (min-width: 1200px) { /* adjust breakpoint as needed */
      width: calc(20% - 10px); /* 5 cards per row on extra large screens */
    }

    .card_imge_container {
      position: relative;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      margin-bottom: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
        transition: transform 0.3s ease-out;
      }

      .viewButton {
        background-color: rgb(255, 56, 86);
        letter-spacing: 1.5px;
        color: hsl(0, 0%, 100%);
        width: 80% !important;
        border-radius: 0px;
        font-size: 10px;
        position: absolute;
        margin: 0 !important;
        bottom: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    .card_label {
      width: 100%;
      text-align: center;
    }

    .card_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &:hover {
      img {
        transform: translateY(-10%);
      }

      .viewButton {
        opacity: 1;
      }
    }
  }
}

// @media only screen and (max-width: 1250px) {
//   .cards_container {
//     .cards {
//       width: calc(33.33% - 10px);
//     }
//   }
// }

// @media only screen and (max-width: 850px) {
//   .cards_container {
//     .cards {
//       width: calc(50% - 10px);
//     }
//   }
// }

// @media only screen and (max-width: 600px) {
//   .cards_container {
//     .cards {
//       width: calc(50% - 10px);
//     }
//   }
// }

// @media only screen and (max-width: 550px) {
//   .cards_container {
//     .cards {
//       width: 100%;
//     }
//   }
// }
