*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 18px;
}
.gallary_container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-auto-rows: 10.5em;  
  padding: 10px;
}
