.containerUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 80%;
  }
}

.hrUpload {
  border: none;
  border-top: 3px double #000000;
  color: #000000;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.hrUpload:after {
  background: #ededed;
  color: #000000;
  content: "upload";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.hrdrag {
  border: none;
  border-top: 3px double #000000;
  color: #000000;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.hrdrag:after {
  background: #ededed;
  color: #000000;
  content: "drag and drop";
  padding: 0 4px;
  position: relative;
  top: -13px;
}
